body{
    background: #fff;
}

.w-100 {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/* About me */

.container-1 {
    display: flex;
}

.box-2 {
    flex: 2;
    margin: auto;
}

.box-1 {
    flex: 1;
}

.box-3 {
    flex:1;
    /* puts image on right side of flexbox */
    text-align:right;
    padding-left: 48px;
}

.box-4 {
    flex:1;
}

.portrait-1 {
    width: 300px;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
                0.125em 0.125em 0.25em rgba(0,0,0,.15);;
    /* puts image on right side of flexbox */
    vertical-align:top;
}

.portrait-2 {
    width: 300px;
    
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
                0.125em 0.125em 0.25em rgba(0,0,0,.15);;
}

.container-2 {
    display: flex;
}

.box-5 {
    flex: 1;
}

.box-6 {
    flex: 1;
    padding-right: 48px;
}

.box-7 {
    flex: 2;
    margin: auto;
}

.box-8 {
    flex: 1;
}



@media(max-width: 1100px){
    .portrait-1, .portrait-2 {
        width: 160px;
    }

    .box-2 p, 
    .box-7 p{
        display: none;
    }
}

/* Parallax */

.box-9 {
    padding-top: 12vh;
    padding-bottom: 12vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),url("../images/parallax1.jpg");
    opacity: 0.85;
    height: 100%;
    width: auto;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-9 h1{
    display: block;
    margin-right: auto;
    margin-left: auto;
    color:white;
    font-size: 4rem;
    opacity: 1;
}

@media(max-width: 992px) {
    .box-9 h1 {
        font-size: 50px;
    }
}

@media(max-width: 600px) {
    .box-9 h1 {
        font-size: 30px;
    }
}

/* Portfolio */

.container {
    position: relative;
    margin: auto;
    padding: 0;
    columns: 4;
    column-gap: 16px;
}

@media (max-width: 10000px) {
    .container {
        max-width: 2000px;
    }
}

@media (max-width: 2100px) {
    .container {
        columns: 4;
        max-width: 90%;
    }
}

@media (max-width: 1500px) {
    .container {
        columns: 3;
    }
}

@media (max-width: 992px) {
    .container {
        columns: 2;
    }
}

@media(max-width: 600px) {
    .container {
        columns: 1
    }
}

.container .grid-images {
    display: inline-block;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.container .grid-images img {
    width: 100%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.grid-images:hover img{
    transform: scale(1.1);
}

/* Popup window when clicked */

.img-window {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-img {
    max-height: 88vh;
    max-width: 80vw;
    z-index: 101;
}

.img-btn-next {
    display: block;
    font-size: 2rem;
    padding: 8px 20px 8px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 48vh;
    z-index: 101;
    color: var(--clr-accent);
    cursor: pointer;
    right: 1.5em;
}

.img-btn-prev {
    display: block;
    font-size: 2rem;
    padding: 8px 20px 8px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 48vh;
    z-index: 101;
    color: var(--clr-accent);
    cursor: pointer;
    left: 2em;
}

.img-btn-next:hover, .img-btn-prev:hover {
    background-color: rgba(175, 175, 175, 0.5);
    transition: 0.2s ease-out;
}

@media(max-width: 600px){
    .img-btn-next,
    .img-btn-prev {
        display: none;
    }
}